*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rajdhani', sans-serif;
}
button{
    border: 1px solid transparent;
    outline: none;
    padding: 24px;
    margin: 1px;
    font-size: 24px;
    background-color: #F5F5F5;
}
button:hover{
    cursor: pointer;
    /*opacity: 0.6; */
    background-color: #cfc9c9;
}
.buttons{
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.buttons .ac{
    grid-column-start: 1;
    grid-column-end: 3;
}
.buttons .c{
    grid-column-start: 3;
    grid-column-end: 5;
}
.buttons .sp{
    background-color: #fdbf6d;
}
.buttons .sp:hover{
    opacity: 0.8;
}